{% extends "layout.html" %}
{% include "header.html" %}
{% include "alerts.html" %}
{% block content %}
<div class="container">
  <h1>Create Deck Kind</h1>
  <form method="post"  class="needs-validation" novalidate>
    <div class="input-group mb-3">
      <span class="input-group-text" id="deck_kind-label">Deck Kind</span>
      <input type="text" class="form-control" id="deck_kind" aria-describedby="basic-addon3" name="deck_kind" aria-describedby="deck_kindlHelp" required>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% include "formvalidate.html" %}
{% endblock %}

