{% extends "layout.html" %}
{% include "header.html" %}
{% include "alerts.html" %}
{% block content %}
<div class="container">
  <h1>CREATE DECK</h1>
  <form method="post" id="search_deck_form"> 
    <div class="row">
      <div class="col-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="search word" name="searchword" />
          <select class="form-select" id="kind-select" name="kind_id">
            <option selected value="" disabled>kind...</option>
            {% for li in kindList %}
              <option value="{{ li.id }}">{{ li.kind }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">SEARCH</button>
        </div>
      </div>
    </div>
  </form>
  <form method="post" id="create_deck_form" class="needs-validation" novalidate> 
    <input type="hidden" name="actionflg" id="actionflg"/>
    <input type="hidden" name="addItems" id="addItems"/>
    <div class="input-group mb-3">
      <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2"> -->
      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="deck name" name="deckname" required/>
      <select class="form-select" id="deck-kind-select" name="deck_kind_id" required>
        <option selected value="" disabled>deck kind...</option>
        {% for li in deckKindList %}
          <option value="{{ li.id }}">{{ li.deck_kind }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
      <div class="btn btn-outline-secondary" type="button" id="submit">SUBMIT</div>
    </div>
    <ol class="list-group list-group-numbered">
      {% for word in wordList %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <a href="/edit-word/update/{{ word.id }}/{{ word.kind_id }}" class="ms-2 me-auto">
          <div class="fw-bold">{{ word.word }}</div>
        </a>
        <div class="form-check form-switch  add-btns">
          <input class="form-check-input add-check" type="checkbox" id="add-check-{{ word.id }}" data-id="{{ word.id }}">
        </div>
        <!-- <span class="badge bg-primary rounded-pill">14</span> -->
      </li>
      {% endfor %}
    </ol>
  </form>
</div>
{% include "createDeck.html" %}
{% include "formvalidate.html" %}
{% endblock %}



