{% extends "layout.html" %}
{% include "header.html" %}
{% block content %}
<div class="container">
  <h1>Deck Kind List</h1>
  <ol class="list-group list-group-numbered">
    {% for deckKind in deckKindList %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <a href="/edit-deck-kind/update/{{ deckKind.id }}" class="ms-2 me-auto">
        <div class="fw-bold">{{ deckKind.deck_kind }}</div>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}


