<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">wordwork</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Create
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li class="nav-item"> <a class="nav-link" href="/create-kind">kind</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/create-word">word</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/create-deck-kind">deck kind</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/create-deck">deck</a> </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li class="nav-item"> <a class="nav-link" href="/kind-list">Kind</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/word-list">word</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/deck-kind-list">deck Kind</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/deck-list">deck</a> </li>
          </ul>
        </li>
        <li class="nav-item"> <a class="nav-link" href="/logout">LOGOUT</a> </li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <a class="" href="#" onclick="history.back(-1);return false;">Back</a>
  </div>
</header>
