<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <title></title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.min.css" integrity="sha384-kFHJmrKG9yBg+A4HPuKUdTgXd7SDmjlrPWHN0ORWH8OnniDPipnDcm2R5wYw0RZw" crossorigin="anonymous">
      <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body class="">
{% block content %}

{% endblock %}

    <script src="/static/js/readcsv.js"></script>
    </body>
</html>

