{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>login</h1>
  <form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">USER ID</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="usernamelHelp">
      <div id="usernameHelp" class="form-text">PLEASE USER NAME</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {# <div class="mb-3 py-3"> #}
  {#   <a class="btn btn-primary" href="/signup">Sign up</a> #}
  {# </div> #}
</div>
{% endblock %}

